<div class="col-xs-12">
  <h2>Mes appareils</h2>
  <p>Mise à jour: {{lastUpdate | async | date : 'short' | lowercase}}</p>
  <ul class="list-group" *ngFor="let appreil of appareils; let i = index">
  <app-appareil [appareilName]="appreil.name" [appareilStatus]="appreil.status" [indexAppareil] = "i" [id] ='appreil.id'></app-appareil>

   <!--<app-appareil [appareilName]="appareil1" [appareilStatus]="'éteint'"></app-appareil>
    <app-appareil [appareilName]="appareil2" [appareilStatus]="'allumé'"></app-appareil>
    <app-appareil [appareilName]="appareil3" [appareilStatus]="'éteint'"></app-appareil>
  -->
  </ul>
  <button class="btn btn-success"
  (click)="onAllumer()"
  [disabled]="!isAuth">Tout allumer</button>
  <button class="btn btn-danger"
  (click)="onEteindre()"
  [disabled]="!isAuth">Tout éteindre</button>
  <button class="btn btn-primary" (click)="Save()">Save</button>
  <button class="btn btn-primary" (click)="fetch()">Get</button>
</div>
